.bg {
    background: var(--bg-dark);
    overflow: hidden;
}

.navigation {
    color: white;
    width: 45%;
}

.navigation h2 {
    margin-right: 1em;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 21px;
}

.btn {
    width: 100%;
    margin-top: 1em;
}


.tab {
    margin: 0.4em 0;
    padding: 5px 3em 0 0;
    cursor: pointer;
    transition: all 200ms;
    background: url("../../images/white-arrow.svg") no-repeat right -2em top;
    border-left: 0 solid black;
}

.tab.active {
    color: black;
    background: url("../../images/white-arrow.svg") no-repeat right top;
    min-height: 2em;
    padding-left: 1em;
    border-left: 3px solid black;

}

h2:first-child {
    margin-top: 0;
}

.container {
    /*padding: 4em 3em;*/
    display: flex;
}

.content {
    width: 55%;
    padding: 3em 0 3em 3em;
    position: relative;
    z-index: 1;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 8px;
    width: 150%;
    height: 100%;
    z-index: -1;
}


hr {
    margin: 3em 0;
    border-color: var(--bg-dark);
}

.anim-enter-active {
    transition: all 150ms ease;
}

.anim-leave-active {
    transition: all 350ms ease;
}

.anim-enter-from,
.anim-leave-to {
    opacity: 0;
    transform: translatex(-1em);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

@media (max-width: 1140px) {

    .tab {
        font-size: 17px;
    }

    hr {
        margin: 1.9em 0;
    }

}

@media (max-width: 1280px) {

    .tab {
        font-size: 18px;
    }

    hr {
        margin: 2.3em 0;
    }
}