@import "./resets.css";
@import "./overlay.css";

.container {
    padding: 0 3em;
    max-width: 1380px;
    min-width: 1140px;
    margin: 0 auto;
    text-align: left;
    height: inherit;
}

.slide {
    --padding: calc(83px + 2em);
    background: url("../images/bg/slider.svg") center / cover no-repeat, linear-gradient(to top, #E0EAE7, #F6F6F6);
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: calc(760px + var(--padding));
    max-height: calc(950px + var(--padding));
    position: relative;
    overflow: hidden;
    /*height: calc(100vh + var(--padding));*/
    box-sizing: border-box;
    padding-top: var(--padding);
    z-index: -1;
}

.slide:after {
    content: '';
    width: 100%;
    height: 8em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0));
}

.wrap {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 32px;
    margin: 2em 0 1em;
}

h3 {
    font-size: 24px;
}

body {
    font-size: 18px;
}

a {
    color: var(--deep-blue);
}

p {
    color: var(--text-gray);
}

.bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*width: 130%;*/
    margin: 0;
    padding-bottom: 3em;
    /*margin: 0 -15% 5em;*/
}

header a {
    text-decoration: none;
    color: var(--text-gray);
    font-size: 18px;
    margin-left: 30px;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
        width: 100%;
        min-width: unset;
        box-sizing: border-box;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 1023px;
        width: 100%;
        box-sizing: border-box;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    p {
        font-size: 0.75em;
    }

}

@media (max-width: 375px) {
    .container {
        max-width: unset;
        width: 100%;
    }
}